<table>
  <thead>
    <tr>
        <th rowspan="2">Toppings</th>
        <th colspan="4">Pizza Size</th>
    </tr>
    <tr>
        <th>{{getSizeTitle('Small')}}</th>
        <th>{{getSizeTitle('Medium')}}</th>
        <th>{{getSizeTitle('Large')}}</th>
        <th>{{getSizeTitle('Extra Large')}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5">Veg Toppings</td>
    </tr>
    <ng-container *ngFor="let t of toppingNams; let i = index">
      <tr>
        <ng-container *ngFor="let n of [0, 0, 0, 0, 0]; let j = index">
          <td *ngIf="j==0">{{getToppingTitle(t)}}</td>
          <td *ngIf="j>0" (click)="onClickCell(i, j-1)">
            <img *ngIf="isShown(i, j-1)" src="../assets/images/check.png">
          </td>
        </ng-container>
      </tr>
      <tr *ngIf="i==4">
        <td colspan="5">Non Veg Toppings</td>
      </tr>
    </ng-container>
    <tr>
      <td colspan="5">Total</td>
    </tr>
    <tr>
      <td>Offer</td>
      <td></td>
      <td>
        <div class="flex-container" *ngIf="showOffer(1)">
          <div class="flex-item">{{getResult(1)?.offer}} -&nbsp;&nbsp;</div>
          <img src="../assets/images/check.png">
        </div>
      </td>
      <td>
        <div class="flex-container" *ngIf="showOffer(2)">
          <div class="flex-item">{{getResult(2)?.offer}} -&nbsp;&nbsp;</div>
          <img src="../assets/images/check.png">
        </div>      
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <ng-container *ngIf="showTotal(0)">${{getResult(0)?.total}}</ng-container>
      </td>
      <td>
        <ng-container *ngIf="showOffer(1)"><span style="text-decoration:line-through;">${{getResult(1)?.originalTotal}}</span><br/></ng-container>
        <ng-container *ngIf="showTotal(1)">${{getResult(1)?.total}}</ng-container>
      </td>
      <td>
        <ng-container *ngIf="showOffer(2)"><span style="text-decoration:line-through;">${{getResult(2)?.originalTotal}}</span><br/></ng-container>
        <ng-container *ngIf="showTotal(2)">${{getResult(2)?.total}}</ng-container>
      </td>
      <td>
        <ng-container *ngIf="showTotal(3)">${{getResult(3)?.total}}</ng-container>
      </td>
  </tr>
  </tbody>
</table>